/*Login style*/
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

/*Main*/
main {
    min-height: calc(100vh - 14rem);
}

/*Footer*/
footer {
    height: 7rem;
}

/*404 page*/
.error {
    background-color: #95c2de;
}
.mainbox {
    background-color: #95c2de;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.err {
    color: #ffffff;
    font-size: 11rem;
}
.msg404 {
    text-align: center;
}
.far {
    font-size: 8.5rem;
    color: #ffffff;
}
.err2 {
    color: #ffffff;
    font-size: 11rem;
}
.msg {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 1.7rem;
}
.errorlink {
    text-decoration: none;
    color: white;
}
.errorlink:hover {
    text-decoration: underline;
}